body {
    background-image: url('../img/background.jpg');
    background-color: navy;
    margin: auto;
}

img {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

#container {
    max-width: 80%;
    margin: auto;
    background-color: white;
    opacity: 0.995;
}




h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Sacramento', cursive;
}
