body {
    background-image: url('../img/background.jpg');
    background-color: #184580;
    margin: auto;
    background-attachment: fixed;
}

img {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

#container {
    max-width: 80%;
    margin: auto;
    background-color: white;
    opacity: 0.995;
}

h1 {
    font-size: 5rem;
    color: #184580;
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding: 5%;
}
