body {
    background-image: url('../img/background.jpg');
    background-color: #184580;
    margin: auto;
    background-attachment: fixed;
}

img {
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
}

#container {
    max-width: 80%;
    margin: auto;
    background-color: white;
    opacity: 0.995;
}

h1 {
    font-size: 5rem;
    color: #184580;
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding: 5%;
}

.sections {
    padding: 2%;
}

h2 {
    color: #cc6666;
    font-size: 3rem;
    font-family: 'Oxygen', sans-serif;
}

hr {
    background-color: #cc6666;
    height: 3px;
    border: 0;
}
